<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Header Menu</title>
  <link rel="stylesheet" href="../common/reset.css">
  <link rel="stylesheet" href="../common/styles.css">
  <link rel="stylesheet" href="HeaderMenu.css">
</head>
<body>
<main>
  <header>
    <h1>SomeLogo</h1>
    <div class="shadowSlider">
      <nav>
        <a target="_blank" href="../../components/SettingsMenu/SettingsMenu.html">Settings Menu</a>
        <a target="_blank" href="../../components/PersonalCard/PersonalCard.html">Personal Card</a>
        <a target="_blank" href="../../components/ContactsCard/ContactsCard.html">Contacts Card</a>
        <a target="_blank" href="../../components/TaskCard/TaskCard.html">Task Card</a>
        <a target="_blank" href="../../components/HeaderMenu/HeaderMenu.html">Header Menu</a>
      </nav>
    </div>
    <menu>
      <li>Hidden</li>
      <li>
        <select>
          <option>Settings</option>
          <option>Profile</option>
          <option>Some</option>
        </select>
      </li>
      <li>Exit</li>
    </menu>
  </header>
</main>
</body>
</html>