<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Task Card</title>
  <link rel="stylesheet" href="../common/reset.css">
  <link href="../common/styles.css" rel="stylesheet" type="text/css">
  <link href="./TaskCard.css" rel="stylesheet" type="text/css">
</head>
<body>
<main class="tcBody">

  <article class="tcMainTask">
    <section class="leftMainTaskPart">
      <input type="checkbox" id="mainTaskCheckbox" class="customCheckbox">
      <label class="fakeBox" for="mainTaskCheckbox">&check;</label>
      <section>
        <label for="mainTaskCheckbox">
          Complete all pages in mobile app design based on Super OS Components
        </label>
        <br>
        <span>
          <img src="../../assets/contactCard/Icon%20(1).png"
               class="smallIcons"
               alt="work">
          25 Aug 2022 - 11:30AM
        </span>
        <span style="margin-left: .6rem">
          <img src="../../assets/contactCard/Icon.png"
               class="smallIcons"
               alt="work">
          Design Tag
        </span>
        <span style="margin-left: 1rem">
            ● Created By <a href="https://github.com/Zipri" target="_blank">Johnson</a>
        </span>
      </section>
    </section>
    <select class="tripleOption">
      <option value="showAll" selected disabled>●●●</option>
      <option value="Edit">Edit</option>
      <option value="Share">Share</option>
      <option value="Delete">Delete</option>
    </select>
  </article>

  <hr/>

  <header>
    <article>
      <h1>Subtasks</h1>
      <p>You can add subtasks and assign to others</p>
    </article>
    <button class="violetButton">+ Add Sub Task</button>
  </header>


  <article class="subTasksMain">

    <section class="tcMainTask">
      <section class="leftMainTaskPart">
        <input type="checkbox" id="checkBox2" class="customCheckbox">
        <label class="fakeBox" for="checkBox2">&check;</label>
        <section>
          <label for="checkBox2">
            Design first 5 screens and get approve from developers
          </label>
          <br>
          <span>
            <img src="../../assets/contactCard/Icon%20(1).png"
                 class="smallIcons"
                 alt="work">
                25 Aug 2022 - 11:30AM
        </span>
          <span style="margin-left: .6rem">
            <img src="../../assets/contactCard/Icon.png"
                 class="smallIcons"
                 alt="work">
                No tag
        </span>
        </section>
      </section>
      <select class="tripleOption">
        <option value="showAll" selected>●●●</option>
        <option value="Edit">Edit</option>
        <option value="Share">Share</option>
        <option value="Delete">Delete</option>
      </select>
    </section>


    <div class="tcMainTask">
      <div class="leftMainTaskPart">
        <input type="checkbox" id="checkBox3" class="customCheckbox" checked>
        <label class="fakeBox" for="checkBox3">&check;</label>
        <div>
          <label for="checkBox3">
            Meet developers to check the features are works
          </label>
          <br>
          <span>
            <img src="../../assets/contactCard/Icon%20(1).png"
                 class="smallIcons"
                 alt="work">
                25 Aug 2022 - 11:30AM
        </span>
          <span style="margin-left: .6rem">
            <img src="../../assets/contactCard/Icon.png"
                 class="smallIcons"
                 alt="work">
                Development
        </span>
        </div>
      </div>
      <select class="tripleOption">
        <option value="showAll" selected>●●●</option>
        <option value="Edit">Edit</option>
        <option value="Share">Share</option>
        <option value="Delete">Delete</option>
      </select>
    </div>


    <div class="tcMainTask">
      <div class="leftMainTaskPart">
        <input type="checkbox" id="checkBox4" class="customCheckbox">
        <label class="fakeBox" for="checkBox4">&check;</label>
        <div>
          <label for="checkBox4">
            Design V1 wireframes first
          </label>
          <br>
          <span>
            <img src="../../assets/contactCard/Icon%20(1).png"
                 class="smallIcons"
                 alt="work">
                25 Aug 2022 - 11:30AM
        </span>
          <span style="margin-left: .6rem">
            <img src="../../assets/contactCard/Icon.png"
                 class="smallIcons"
                 alt="work">
                Wireframe
        </span>
        </div>
      </div>
      <select class="tripleOption">
        <option value="showAll" selected>●●●</option>
        <option value="Edit">Edit</option>
        <option value="Share">Share</option>
        <option value="Delete">Delete</option>
      </select>
    </div>


    <div class="tcMainTask">
      <div class="leftMainTaskPart">
        <input type="checkbox" id="checkBox5" class="customCheckbox">
        <label class="fakeBox" for="checkBox5">&check;</label>
        <div>
          <label for="checkBox5">
            Design V2 wireframes second
          </label>
          <br>
          <span>
            <img src="../../assets/contactCard/Icon%20(1).png"
                 class="smallIcons"
                 alt="work">
                25 Aug 2022 - 11:30AM
        </span>
          <span style="margin-left: .6rem">
            <img src="../../assets/contactCard/Icon.png"
                 class="smallIcons"
                 alt="work">
                Wireframe
        </span>
        </div>
      </div>
      <select class="tripleOption">
        <option value="showAll" selected>●●●</option>
        <option value="Edit">Edit</option>
        <option value="Share">Share</option>
        <option value="Delete">Delete</option>
      </select>
    </div>
  </article>


  <article style="height: 40%">

    <header>
      <article>
        <h1>Comments</h1>
        <p>This task comments from other members</p>
      </article>
    </header>

    <article class="commentsToSubTaskBody">

      <section class="commentToSubTask">
        <img src="../../assets/contactCard/Profile%20Image%20(2).png"
             class="smallAvatar"
             alt="photo">
        <section class="commentLabel">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, blanditiis dicta fuga itaque quidem
            tempore! A ab ad amet distinctio hic in incidunt odio provident veniam voluptates! Ad ex, nam!</p>
          <span class="greyColor">
            <a href="https://github.com/Zipri" target="_blank">By Juliana Wills</a> ● 10 minutes ago
          </span>
        </section>
        <select class="tripleOption">
          <option value="showAll" selected>●●●</option>
          <option value="Edit">Edit</option>
          <option value="Share">Share</option>
          <option value="Delete">Delete</option>
        </select>
      </section>

      <section class="commentToSubTask">
        <img src="../../assets/contactCard/Profile%20Image%20(4).png"
             class="smallAvatar"
             alt="photo">
        <section class="commentLabel">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci ducimus officiis ratione recusandae
            repellendus ut voluptate. Ad aperiam beatae dolorem enim eveniet incidunt ipsa mollitia obcaecati, pariatur
            perspiciatis saepe sunt!</p>
          <span class="greyColor">
            <a href="https://github.com/Zipri" target="_blank">By Jonathan James</a> ● 2 hours ago
          </span>
        </section>
        <select class="tripleOption">
          <option value="showAll" selected>●●●</option>
          <option value="Edit">Edit</option>
          <option value="Share">Share</option>
          <option value="Delete">Delete</option>
        </select>

      </section>

    </article>

  </article>

  <hr/>

  <form class="commentForm">
    <img src="../../assets/contactCard/Profile%20Image%20(6).png"
         class="smallAvatar"
         alt="photo">
    <input placeholder="Write your comments...">
  </form>

</main>
</body>
</html>