<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Simple Layout</title>
  <link rel="stylesheet" href="../assets/css/reset.css">
  <link href="../assets/css/components/AdaptiveLayout.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <header class="header flex flex_center_between">
    <h1 class="header__logo">Family N.S.</h1>
    <nav class="flex flex_center_between">
      <a class="button_white" target="_blank" href="SettingsMenu.html">О себе</a>
      <a class="button_white margin_m" target="_blank" href="PersonalCard.html">Достижения</a>
      <a class="button_white" target="_blank" href="ContactsCard.html">Оставить заявку</a>
    </nav>
    <menu class="flex flex_center_between">
      <li class="button_violet">Email</li>
      <li class="button_violet margin_m">Telegram</li>
      <li class="button_violet">Instagram</li>
    </menu>
  </header>
</div>
</body>
</html>