<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Settings</title>
  <link rel="stylesheet" href="../common/reset.css">
  <link href="../common/styles.css" rel="stylesheet" type="text/css">
  <link href="./SettingsMenu.css" rel="stylesheet" type="text/css">
</head>
<body>
<main class="settingsBody">

  <header>
    <article>
      <h1>Settings</h1>
      <p>You can find all settings here</p>
    </article>
  </header>

  <menu>
    <li class="activeItem">
      <img src="../../assets/settingsIcons/Shape.png" alt="GenSet">
      <!-- Искал искал, но так и не понял, во что обернуть (в плане семантики)
      просто обычный текст, как здесь (ниже) -->
      General Settings
    </li>
    <li>
      <img src="../../assets/settingsIcons/Password%20Icon.png" alt="PassSet">
      Password Settings
    </li>
    <li>
      <img src="../../assets/settingsIcons/Notification%20Icon.png" alt="NotSet">
      Notification Settings
    </li>
    <li>
      <img src="../../assets/settingsIcons/Plan%20&%20Billings%20Icon.png" alt="PABSet">
      Plan & Billings
    </li>
    <li>
      <img src="../../assets/settingsIcons/Integrations%20Icon.png" alt="IntSet">
      Integrations
    </li>
    <li>
      <img src="../../assets/settingsIcons/Deactivation%20Icon.png" alt="Deactivation">
      Deactivation
    </li>
  </menu>

</main>
</body>
</html>