* {
    transition: .5s; /* Время эффекта */
}
body {
    margin: 0;
    height: 100vh;
    background-color: darkgray;
    font-family: sans-serif;
    /*Для центрирования виджета*/
    display: flex;
    justify-content: center;
    align-items: center;
}
/*---------- Settings ----------*/
.settingsBody {
    background-color: white;
    padding: 1rem;
    /*Для удобства перевёл абсолюьтные значения в rem*/
    width: 18rem;
    height: 24rem;
    border-radius: 1rem;
    font-size: .8rem;
}
header h1 {
    font-size: 1rem;
    margin: 0 0 .4rem 0;
}
header span {
    color: #5C5F62;
}
menu {
    color: #5C5F62;
    padding: 0;
    margin: 0;
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
menu li {
    list-style-type: none;
    padding: .7rem;
    border-radius: .5rem;
    cursor: pointer;
}
menu li:hover {
    background-color: #EDEDED;
}
menu li img {
    max-height: .6rem;
    margin-right: .5rem;
}
.activeItem {
    background-color: #EDEDED;
}
.activeItem:hover {
    background-color: #a8a8a8;
    color: #ffffff;
}
/*---------- PersonalCard ----------*/
.pcBody {
    background-color: white;
    padding: 1rem;
    width: 45rem;
    height: 23rem;
    border-radius: 1rem;
    font-size: .8rem;
}
.pcAvatarPart {
    display: flex;
    align-items: center;
}
.pcAvatarPart img {
    height: 5rem;
    width: 5rem;
    margin-right: 1.5rem;
}
.inputFileWrapper {
    position: relative;
    cursor: pointer;
    color: #6F47EB;
    background-color: #EEE9FD;
    border-radius: .5rem;
    padding: .7rem 1rem;
}
.inputFileWrapper:hover {
    color: #4410e7;
    background-color: #f6f3fd;
}
.inputFileWrapper img {
    height: .7rem;
    width: .8rem;
    margin: 0 .5rem 0 0;
}
.inputFile {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
.pcBody form {
    height: 90%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.pcNamePart {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.pcNameUsername {
    display: flex;
    justify-content: space-between;
}
.pcNamePart label {
    display: inline-block;
    margin: .6rem;
    color: #5C5F62;
}
.pcNamePart input {
    width: 100%;
    box-sizing: border-box;
    border-radius: .5rem;
    padding: .6rem;
    border: .1rem solid lightgray;
    outline: none;
}
.pcDescription {
    color: #5C5F62;
    background-color: #EDEDED;
    border-radius: .5rem;
    padding: 1rem;
}
.pcNamePart button {
    border: .1rem solid black;
    background-color: black;
    color: white;
    padding: .5rem .7rem;
    border-radius: .5rem;
    cursor: pointer;
}
.pcNamePart button:hover {
    border: .1rem solid black;
    background-color: white;
    color: black;
}
.username {
    display: flex;
}
.username div {
    background-color: #EDEDED;
    border-radius: .5rem 0 0 .5rem;
    padding: .6rem;
    color: #5C5F62;
    border: .1rem solid lightgray;
    border-right: 0;
}

#inputUsername {
    border-left: 0;
    border-radius: 0 .5rem .5rem 0;
}
